<script>
	let editing;
</script>

<article class="contact-card">
	<h2>
		<slot name="state"></slot>
	</h2>

	<div class="address">
		<slot name="action"></slot>
	</div>
	<slot></slot>
</article>

<style>
	.contact-card {
		border: 1px solid #aaa;
		border-radius: 2px;
		padding: 1em;
	}

	h2 {
		padding: 0 0 0.2em 0;
		margin: 0 0 1em 0;
		border-bottom: 1px solid #ff3e00
	}

	.address, .email {
		padding: 0 0 0 1.5em;
		background:  0 0 no-repeat;
		background-size: 20px 20px;
		margin: 0 0 0.5em 0;
		line-height: 1.2;
	}
</style>
