<script>
	// Exported coordinates are in [0, 1]
	// Input numbers are expected to be in [0, 1]
	import { spring } from 'svelte/motion';
	import { writable } from 'svelte/store';
	export let pointer_coords = writable({x: 0, y: 0});
	export let pointer_fixed = false;
	// Array of { x: float, y: float, size: float}
	// in percents of the area height
	export let circles = [];
	export let display_pointer = true;
	let svg = null;
	let raw_pointer_coords = spring({ x: 0, y: 0 }, {
		stiffness: 0.1,
		damping: 0.25
	});
	let pointer_size = spring(4);
	let pointer_fill = "blue";

	// Reactive pointer position
	$: if(pointer_fixed || true) {
		// When the pointer is fixed, it's a small circle
		// else it's a large circle and has the same coordinates as the mouse
		if(pointer_fixed)
			pointer_size.set(2);
		else {
			pointer_size.set(4);
			if(svg !== null) {
				let coords_in_percent = {
					x: Math.min(Math.max(0, $raw_pointer_coords.x / svg.clientWidth), 1),
					y: Math.min(Math.max(0, $raw_pointer_coords.y / svg.clientHeight), 1)
				};
				pointer_coords.set(coords_in_percent);
			}
		}
	}

	function on_mousemove(e) {
		const rect = e.currentTarget.getBoundingClientRect();
		if(!pointer_fixed)
			raw_pointer_coords.set({ x: e.clientX - rect.x, y: e.clientY - rect.y });
	}
</script>

<svg
	on:mousemove="{on_mousemove}"
	on:mouseup="{() => { pointer_fixed = !pointer_fixed;} }"
	bind:this={svg}
	>
	{#each circles as circle}
		<g class="datacircle">
			<circle cx={circle.x*100+"%"} cy={circle.y*100+"%"} r={circle.size*100+"%"} fill={circle.color}/>
			<g>
				<text x="0" y="0">
					{#each Object.entries(circle) as [key, value]}
						<tspan x="0" dy="1.2em">{key}: {value}</tspan>
					{/each}
				</text>
			</g>
		</g>
	{/each}
	{#if display_pointer}
			<circle id="pointer" cx={$raw_pointer_coords.x} cy={$raw_pointer_coords.y} r={$pointer_size+"%"}/>
	{/if}
</svg>

<style>
	svg { width: 100%; height: 100%; margin: 0px }
	#pointer { fill: "#228822" }
	svg text {display: none;}
	svg .datacircle:hover text {display: block;}
</style>
